body {
    color: #000;
}

.head_img {
    width: 55px;
}

.opacity_img {
    filter: grayscale(.95);
    opacity: 0.5;
}

.check_form input {
    width: 300px;    
    height: 40px;
}

.check_form button {
    height: 40px;
}

.message {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 120%;
    font-weight: 700;
    padding: 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance:textfield;
}

.invalid {
    color: red;
}

.valid {
    color: green
;}

